@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    background-color: white;
}

@font-face {
    font-family: 'Utendo';
    src: url('../src/font/Utendo-Regular.ttf') format('truetype');

}

@font-face {
    font-family: 'Milker';
    src: url('../src/font/Milker.otf') format('truetype');

}

.divider-neutral:before,
.divider-neutral:after {
    background-color: white;
    -tw-bg-opacity: 1
}

